<h1>SC2UNIT</h1>
  <h2>Race</h2>
  <a href="{{app['root']}}/race/t">Terran</a>
  <a href="{{app['root']}}/race/p">Protos</a>
  <a href="{{app['root']}}/race/z">Zerg</a>

  <h2>Attribute</h2>
  <a href="{{app['root']}}/armor/light">Light</a>
  <a href="{{app['root']}}/armor/Armored">Armored</a>
  <a href="{{app['root']}}/armor/Biological">Biological</a>
  <a href="{{app['root']}}/armor/Mechanical">Mechanical</a>
  <a href="{{app['root']}}/armor/Psionic">Psionic</a>
  <a href="{{app['root']}}/armor/Structure">Structure</a>
