{% extends "layout.html" %}
{% block content %}
  {{ parent() }}
  <table>
    <tr>
      <th>Name<th>
      <th>mineral<th>
      <th>gas<th>
      <th>supply<th>
      <th>buildtime<th>
      <th>life<th>
      <th>sields <th>
      <th>energy<th>
      <th>armor<th>
      <th>movement_speed<th>
      <th>sight_range<th>
      <th>race<th>
      <th>image_url<th>
    <tr>
  {% for u in units %}
    <tr>
    <td> {{ u.id }} </td>
    <td> {{ u.name }} </td>
    <td> {{ u.mineral }} </td>
    <td> {{ u.image_url }} </td>
    <td> {{ u.mineral }} </td>
    <td> {{ u.gas  }} </td>
    <td> {{ u.supply }} </td>
    <td> {{ u.buildtime }} </td>
    <td> {{ u.life  }} </td>
    <td> {{ u.sields }} </td>
    <td> {{ u.energy }} </td>
    <td> {{ u.armor }} </td>
    <td> {{ u.movement_speed }} </td>
    <td> {{ u.sight_range }} </td>
    <td> {{ u.race text}} </td>
    <td> {{ u.image_url }} </td>
    <tr>
  
  {% else %}
      No units have been found.
  {% endfor %}
  </table>
  {{ dump }}
{% endblock %}
