<div class="unit">
  <h2>{{unit.name}}</h2>
  <table>
    <tr style="display:none;"><td> id </dt> <td> {{unit.id}} </td></tr>
    <tr><td>mineral</td><td> {{unit.mineral}} </td></tr>
    <tr><td>gas</td><td> {{unit.gas}} </td></tr>
    <tr><td>supply</dt><td> {{unit.supply}}</td></tr>
    <tr><td>buildtime</dt><td> {{unit.buildtime}}</td></tr>
    <tr><td>life </dt><td>{{unit.life}}</td></tr>
    <tr><td>sields</dt><td> {{unit.sields}}</td></tr>
    <tr><td>energy </dt><td>{{unit.energy}}</td></tr>
    <tr><td>armor</dt><td>{{unit.armor}} </td></tr>
    <tr><td>movement_speed</td><td>{{unit.movement_speed}} </td></tr>
    <tr><td>sight_range</td><td>{{unit.sight_range}}</td></tr>
    <tr><td>race </td><td> <a href="/race/{{unit.race}}">{{unit.race}} </a></td></tr>
    <!--<tr><td>image_url</td><td>{{unit.image_url}} </td></tr>-->
    <tr><td>attribute</td>
      <td>{% for armor_type in armor_types %}
            <a href="../armor/{{armor_type.name}}"> {{armor_type.name}} </a><br>
          {% else %}
          {% endfor %}
      </td>
    </tr>
  </table>
</div>



