{% extends "layout.html" %}
{% block content %}
  {{ parent() }}
  <table id="unit_table" class="tablesorter">
    <thead>
    <tr>
      <th>id</th>
      <th>Name</th>
      <th>mineral</th>
      <th>gas</th>
      <th>supply</th>
      <th>buildtime</th>
      <th>life</th>
      <th>sields </th>
      <th>energy</th>
      <th>armor</th>
      <th>movement_speed</th>
      <th>sight_range</th>
      <th>race</th>
      <th>image_url</th>
    <tr>
    </thead>
    <tbody>
  {% for u in units %}
    {% if u.id > 0 %}
    <tr>
    <td><a href="/unit/{{u.id}}">{{ u.id }}</a></td>
    <td>{{ u.name }}</td>
    <td>{{ u.mineral }}</td>
    <td>{{ u.gas  }}</td>
    <td>{{ u.supply }}</td>
    <td>{{ u.buildtime }}</td>
    <td>{{ u.life  }}</td>
    <td>{{ u.sields }}</td>
    <td>{{ u.energy }}</td>
    <td>{{ u.armor }}</td>
    <td>{{ u.movement_speed }}</td>
    <td>{{ u.sight_range }}</td>
    <td>{{ u.race }} </td>
    <td>{{ u.image_url }}</td>
    </tr>
    {% endif %}
  {% else %}
      No units have been found.
  {% endfor %}
  </tbody>
  </table>
<script>
$(document).ready(function() { 
    // call the tablesorter plugin 
    $("#unit_table").tablesorter({ 
        // sort on the first column and third column, order asc 
        //sortList: [[0,0],[2,0]] 
    }); 
});
</script>
{% endblock %}
