{% extends "layout.html" %}
{% block content %}
  {{ parent() }} 

<div id="modal" >
</div>
  <table id="unit_table" class="tablesorter">
    <thead>
    <tr>
      <th style="display:none;">id</th>
      <th>Name</th>
      <th>Mineral</th>
      <th>Gas</th>
      <th>Supply</th>
      <th>Build</th>
      <th>Life</th>
      <th>Sields </th>
      <th>Energy</th>
      <th>Armor</th>
      <th>Speed</th>
      <th>Sight</th>
      <th>Race</th>
      <!--<th>image_url</th>-->
    <tr>
    </thead>
    <tbody>
  {% for u in units %}
    {% if u.id > 0 %}
    <tr>
    <td style="display:none;"><a href="{{app['root']}}/unit/{{u.id}}">{{ u.id }}</a></td>
    <td class="unit_name" data-url="{{app['root']}}/unit/{{u.id}}">{{ u.name }}</td>
    <td>{{ u.mineral }}</td>
    <td>{{ u.gas  }}</td>
    <td>{{ u.supply }}</td>
    <td>{{ u.buildtime }}</td>
    <td>{{ u.life  }}</td>
    <td>{{ u.sields }}</td>
    <td>{{ u.energy }}</td>
    <td>{{ u.armor }}</td>
    <td>{{ u.movement_speed }}</td>
    <td>{{ u.sight_range }}</td>
    <td>{{ u.race }} </td>
    <!--<td>{{ u.image_url }}</td>-->
    </tr>
    {% endif %}
  {% else %}
      No units have been found.
  {% endfor %}
  </tbody>
  </table>
{% endblock %}
